<div class="contenedor">

  <!-- Botón para abrir/cerrar el menú (solo visible en móvil) -->
  <button
  class="boton-menu"
  [class.oculto]="menuAbierto()"
  type="button"
  (click)="alternarMenu()"
  [attr.aria-expanded]="menuAbierto()"
  [attr.aria-label]="menuAbierto() ? 'Cerrar menú' : 'Abrir menú'"
>
 <img
    *ngIf="!menuAbierto()"
    src="assets/img/menu.png"
    alt="Menú"
    class="icono-menu"
  />
  
</button>
  
  <!-- Fondo oscuro detrás del menú, para poder cerrarlo tocando fuera -->
  <div class="overlay" [class.visible]="menuAbierto()" (click)="cerrarMenu()"></div>

  <!-- Menú izquierdo -->
  <div class="sidebar" [class.abierto]="menuAbierto()">

    <div class="sidebar-scroll">

      <div class="logo-section">
        <div class="logo-icon">
          <img src="https://fundaciondelcorazon.com/images/prevencion/Marcadores_de_riesgo.jpg"
               alt="riesgo" />
        </div>

        <h2>Enfermedades Crónica</h2>

        <p>Sistema Inteligente</p>

        <div class="linea"></div>
      </div>

      <nav class="menu-links">
        

        <a routerLink="/inicio" routerLinkActive="active" (click)="cerrarMenu()">
          <i class="fas fa-home"></i>
          <span>Inicio</span>
        </a>

        <a routerLink="/formulario" routerLinkActive="active" (click)="cerrarMenu()">
          <i class="fas fa-file-medical"></i>
          <span>Evaluación y Recomendación</span>
        </a>

        <a routerLink="/historial" routerLinkActive="active" (click)="cerrarMenu()">
          <i class="fas fa-clock-rotate-left"></i>
          <span>Historial</span>
        </a>

        <a routerLink="/random-forest" routerLinkActive="active" (click)="cerrarMenu()">
          <i class="fas fa-brain"></i>
          <span>Random Forest</span>
        </a>

        <a routerLink="/xgboost" routerLinkActive="active" (click)="cerrarMenu()">
          <i class="fas fa-microchip"></i>
          <span>XGBoost</span>
        </a>

        <a routerLink="/resul-hibrido" routerLinkActive="active" (click)="cerrarMenu()">
          <i class="fas fa-stethoscope"></i>
          <span>Resultado Híbrido</span>
        </a> 

        <a routerLink="/informacion" routerLinkActive="active" (click)="cerrarMenu()">
          <i class="fas fa-circle-info"></i>
          <span>Información</span>
        </a>

      </nav>

    </div>

  </div>

  <!-- Contenido derecho -->
  <div class="contenido">
    <router-outlet></router-outlet>
  </div>

</div>